@media (min-width: 780px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: 100% !important;
    }
}

@font-face {
    font-family: poppins;
    src: url(font/Poppins-ExtraBold.ttf);
}

.client-font {
    font-family: poppins;
}
.client-font-heading {
    font-family: poppins;
    font-size: 3rem;
}

/* section {
    padding-top: 5.5rem;
}

.spacer {
    height: 50px;
} */

/* Back to top button */
body {
    display: grid;
    grid-template-columns: auto 0px; 
  }
/*.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    */
    
    /* visual styling */
    /*width:45px;
    aspect-ratio:1;
    background: #212529;
    border-radius:10px;
  }*/
  /*.top:before {
    content:"";
    position:absolute;
    inset:30%;
    transform:translateY(20%) rotate(-45deg);
    border-top:5px solid #fff;
    border-right:5px solid #fff;
  }*/
  
  /* remove the below if you don't want smooth scrolling */
  html,
  body {
    scroll-behavior: smooth;
  }

  .fa-whatsapp{
    color: #25d366;
  }